/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  color: #555;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* ------ HEADING ------ */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
}
h2 {
  width: 100%;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
h2::after {
  display: block;
  content: "";
  height: 2px;
  background: hsl(28, 80%, 52%);
  width: 100px;
  margin: auto;
  margin-top: 30px;
}
h3 {
  letter-spacing: 0;
  font-size: 110%;
  margin-bottom: 15px;
}

/* -------- BUTTON ---------- */
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 1.5em;
  font-weight: 300;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid hsl(28, 80%, 52%);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  margin: 0.5em 1em;
}

.btn-full {
  background-color: hsl(28, 80%, 52%);
  color: #fff;
  margin-right: 20px;
}

.btn-ghost {
  color: hsl(28, 80%, 52%);
}

.btn-full:hover,
.btn-full:focus,
.btn-ghost:hover,
.btn-ghost:focus {
  background-color: hsl(28, 80%, 45%);
  border-color: hsl(28, 80%, 45%);
  color: #fff;
}
.btn-app {
  margin-top: 2rem;
  display: inline-block;
  width: 200px;
  margin-right: 5px;
  overflow: hidden;
  height: 66px;
}
.btn-app img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----- PARA ----- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 2em;
}
.desc {
  font-size: 90%;
  line-height: 145%;
}

/* ------ ICONS ----- */
.icons-big {
  width: 40%;
  display: block;
  margin: auto;
}

/* ----- LAYOUT ------ */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero-text-box {
  width: 1140px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 0;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  align-items: center;
  padding: 0.4rem 1em;
}
.logo {
  justify-self: left;
  width: 100px;
}
.logo-black {
  display: none;
}

.main-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1em;
}
.main-nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}
.main-nav li {
  transition: border 0.3s ease;
  border-bottom: 2px solid transparent;
}
.main-nav li:hover,
.main-nav li:active {
  border-color: hsl(28, 80%, 52%);
}
.sticky {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  background-color: hsl(0 0% 100% / 0.9);
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.1);
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sticky .main-nav a {
  color: #555;
}
.sticky .logo {
  width: 60px;
}
.sticky .logo-black {
  display: block;
}
.sticky .logo-white {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1em;
}
section {
  padding: 4em;
}
.col {
  padding: 2em 1em;
}
.col img {
  margin-bottom: 1em;
}

/* SECTIONS MEALS */

.section-meals {
  padding: 3em 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
figure {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  background-color: #000;
}
figure img {
  overflow: none;
  opacity: 0.7;
  width: 100%;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
figure:hover img {
  transform: scale(1.05);
  opacity: 1;
}

/* SECTION STEPS */

.section-steps {
  background-color: hsl(0, 0%, 98%);
}
.section-steps .grid {
  grid-template-columns: 1fr 1fr;
}
.section-steps .grid .col:first-child {
  width: 100%;
  text-align: right;
}
.section-steps .grid .col:first-child img {
  width: 40%;
}
.work-step {
  padding: 1rem;
  display: grid;
  grid-template-columns: min-content 1fr;
}
.work-step .number {
  border: 2px solid hsl(28, 80%, 52%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: hsl(28, 80%, 52%);
  font-weight: bold;
  margin-right: 1rem;
}

/* SECTION COUNTRIES */

.country {
  width: 100%;
  padding: 10px;
}
.country__image {
  width: 100%;
}
.country__image-caption {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin: 10px 0;
}
.country__data {
  margin: 6px 0;
}
.country__data-icon {
  font-size: 0.8rem;
  margin-right: 10px;
  color: hsl(28, 80%, 52%);
}
.country__data-link {
  color: hsl(28, 80%, 52%);
  text-decoration: none;
  border-bottom: 1px solid hsl(28, 80%, 52%);
}

/* --- TESTIMONIALS */

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.753)),
    url(./img/back-customers.jpg);
  color: #fff;
}

.section-testimonials .grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

blockquote {
  padding: 2%;
  font-style: italic;
  font-weight: 400;
  line-height: 145%;
  position: relative;
  margin-top: 40%;
}
blockquote::before {
  content: "\201c";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -8px;
  left: -3px;
}
cite {
  display: block;
  font-size: 90%;
  margin-top: 25px;
  display: flex;
  align-items: center;
}
cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* PLANS */

.section-plans {
  background-color: #efefef;
}
.section-plans .grid {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.plan {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}
.plan .box {
  padding: 1em;
}
.plan .box:first-child,
.plan .box:last-child {
  background: #f7f7f7;
}
.plan__title {
  font-weight: normal;
}
.plan__price {
  font-size: 300%;
  font-weight: 300;
  margin-bottom: 10px;
  color: hsl(28, 80%, 52%);
}
.plan__price span {
  font-size: 24px;
}
.plan__price-text {
  font-size: 90%;
  margin-bottom: 10px;
}
.plan__features {
  list-style: none;
}
.plan__feature {
  padding: 5px 0;
}
.plan__feature span {
  font-size: 90%;
  padding-right: 0.5em;
}

/* CONTACT */
.contact {
  width: 75%;
  margin: 2em auto;
}
.form-control {
  display: grid;
  gap: 0.5em 1em;
  grid-template-columns: 1.5fr 3fr;
  margin: 1em 0;
}
.form-control label {
  font-size: 1.2rem;
}
.form-control input,
.form-control select,
.form-control textarea {
  padding: 0.5em 1em;
  font-size: 0.9rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  outline: none;
  resize: none;
  transition: border-color 0.3s ease;
}

.form-control input[type="checkbox"] {
  margin-right: 0.5em;
}

.form-control textarea {
  height: 8rem;
}

.form-control input:focus,
.form-control input:hover,
.form-control select:hover,
.form-control select:focus,
.form-control textarea:hover,
.form-control textarea:focus {
  border-color: rgba(0, 0, 0, 0.4);
}
.form-control .btn {
  grid-column: 2;
  width: fit-content;
}

/* FOOTER */
.footer {
  padding: 4em 0;
  background-color: #333;
}
.footer div {
  display: grid;
  gap: 2em 0;
  grid-template-rows: 1fr min-content;
}
.footer .footer__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__list {
  list-style: none;
  display: flex;
  gap: 0 1em;
}
.footer .footer__list a {
  text-decoration: none;
  list-style: none;
  color: #aaa;
  transition: color 0.3s ease;
}
.footer .footer__list a:hover,
.footer .footer__list a:focus {
  color: #fff;
}

.footer .footer__copyright {
  text-align: center;
  color: #aaa;
}

/* #==================
   ANIMATIONS
  ==================# */
.opacity-0 {
  opacity: 0;
}
.animate__animated.opacity-0 {
  opacity: 1;
}

/* #==================
   MEDIA QUERIES
  ==================# */

@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }
  .row {
    width: 100%;
    padding: 1em;
  }
  .hero-text-box {
    width: 100%;
    padding: 1em 2em;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .section-steps .grid .col:first-child {
    text-align: center;
  }
  .section-steps .grid .col:first-child img {
    width: 60%;
  }
  .work-step {
    padding: 1em 0;
  }
  .work-step .number {
    width: 40px;
    height: 40px;
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .btn-app {
    margin-top: 1em;
    width: max-content;
    height: min-content;
  }
}
@media (max-width: 767px) {
  nav {
    flex-direction: column;
    gap: 2em 0;
  }
  section {
    padding: 4em 1em;
  }
  .form-control {
    grid-template-columns: 1fr;
  }
  .form-control .btn {
    grid-column: 1;
  }
  .footer .footer__lists {
    flex-direction: column;
  }
  .section-steps .grid {
    grid-template-columns: 1fr;
  }
  .section-steps .grid .col:first-child img {
    width: 30%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }

  header {
    height: auto;
  }

  section {
    font-size: inherit;
    padding: 4em 0.5em;
  }
}
